@media screen and (min-width: 320px) and (max-width: 576px) {
  .intro-page {
    flex-direction: column;
  }

  .container {
    padding-left: 1px;
    padding-right: 1px;
  }

  .signup-form {
    margin-left: 0px;
    margin-top: 12px;
  }

  .signup-form-notice {
    text-align: center;
  }
}
